@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 99 27;
  --color-base: 242 242 242;
  --color-btn-primary: 33 114 255;
  --color-btn-warning: 255 244 33;
  --color-accent: 30 255 0;
  --color-btn-base: 157, 146, 146;
}
.dark {
  --color-primary: 30 30 30;
  --color-background: 157 146 146;
  --color-btn-primary: 171 47 254;
  --color-btn-warning: 255 0 112;
  --color-accent: 30 255 0;
}
.KronaOne-regular {
  font-family: "KronaOne";
  font-weight: 400;
  font-style: normal;

}
.Montserrat-VariableFont{
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}
